<div class="choices-button" fxLayout="column row" fxLayoutAlign="center center">
  <br />
  <p><strong>Last meal in George Town before heading to the airport. Would you like to have a meal
      at...</strong><br></p>
  <br />
  <a class="choicesCard" mat-raised-button href="three/5a">an Indian Muslim restaurant that has withstood the test of
    time</a>
  <br />
  <br />
  or...
  <br />
  <br />
  <a class="choicesCard" mat-raised-button href="three/5b">take a break from Penang food and feast on healthy yet
    delicious fare</a>
</div>